<div class="sm:absolute sm:inset-0 flex flex-col flex-auto min-w-0 sm:overflow-hidden bg-card dark:bg-transparent">

    <!-- Header -->
    <div class="relative flex flex-col sm:flex-row flex-0 sm:items-center sm:justify-between py-8 px-6 md:px-8 border-b">
        <!-- Title -->
        <div class="text-4xl text-center font-extrabold tracking-tight">Deposit List</div>
        <!-- Actions -->
        <div class="flex shrink-0 items-center mt-6 sm:mt-0 sm:ml-4">

            <!-- Search -->
            <mat-form-field class="fuse-mat-dense fuse-mat-rounded min-w-64"
                            [subscriptSizing]="'dynamic'">
                <mat-icon class="icon-size-5"
                          matPrefix
                          [svgIcon]="'heroicons_solid:search'"></mat-icon>
                <input matInput
                       [formControl]="searchInputControl"
                       [autocomplete]="'off'"
                       [placeholder]="'Search By Deposit Number'"
                       maxlength="9">
            </mat-form-field>
        </div>
    </div>

    <!-- Main -->
    <div class="flex flex-auto overflow-hidden">

        <!-- Deposit list -->
        <div class="flex flex-col flex-auto sm:mb-18 overflow-hidden sm:overflow-y-auto">
            <ng-container *ngIf="deposits.length > 0; else noDeposits">
                <div class="grid">
                    <!-- Header -->
                    <div class="deposit-grid z-10 sticky top-0 grid gap-4 py-4 px-6 md:px-8 shadow text-md font-semibold text-secondary bg-gray-50 dark:bg-black dark:bg-opacity-5">
                        <div></div>
                        <div>Deposit Number</div>
                        <div class="hidden lg:block">Start Date</div>
                        <div class="hidden lg:block">End Date</div>
                        <div class="hidden lg:block">Sum</div>
                        <div class="hidden md:block">Deposit Plan</div>
                        <div>Percent</div>
                        <div class="max-md:block">Details</div>
                    </div>
                    <!-- Rows -->
                    <ng-container *ngFor="let deposit of deposits; trackBy: trackByFn">
                        <div class="deposit-grid grid items-center gap-4 py-3 px-6 md:px-8 border-b">
                            <div></div>
                            <!-- Id -->
                            <div class="truncate">
                                {{deposit.depositName}}
                            </div>

                            <div class="hidden lg:block truncate">
                                {{deposit.startDate | date: 'dd/MM/yyyy'}}
                            </div>

                            <div class="hidden lg:block truncate">
                                {{deposit.endDate | date: 'dd/MM/yyyy'}}
                            </div>

                            <div class="hidden lg:block truncate">
                                {{deposit.sum}} {{deposit.currencyName}}
                            </div>

                            <div class="hidden md:block truncate">
                                {{deposit.planName}}
                            </div>

                            <div class="truncate">
                                {{deposit.percent}}%
                            </div>

                            <!-- Details button -->
                            <div class="max-md:block">
                                <button class="min-w-10 min-h-7 h-7 px-2 leading-6"
                                        mat-stroked-button
                                        (click)="toggleDetails(deposit)">
                                    <mat-icon class="icon-size-5"
                                              [svgIcon]="selectedDeposit?.depositId === deposit.depositId ? 'heroicons_solid:chevron-up' : 'heroicons_solid:chevron-down'"></mat-icon>
                                </button>
                            </div>
                        </div>
                        <div class="grid">
                            <ng-container *ngIf="selectedDeposit?.depositId === deposit.depositId">
                                <ng-container *ngTemplateOutlet="rowDetailsTemplate; context: {$implicit: deposit}"></ng-container>
                            </ng-container>
                        </div>
                    </ng-container>
                </div>
            </ng-container>

            <mat-paginator class="sm:absolute sm:inset-x-0 sm:bottom-0 border-b sm:border-t sm:border-b-0 z-10 bg-gray-50 dark:bg-transparent"
                           [length]="pagination.length"
                           [pageIndex]="pagination.page"
                           [pageSize]="pagination.size"
                           [pageSizeOptions]="[5, 10, 20]"
                           [showFirstLastButtons]="true"></mat-paginator>

            <ng-template #rowDetailsTemplate
                         let-deposit>
                <div class="shadow-lg overflow-hidden">
                    <div class="flex border-b">

                        <div class="flex flex-col sm:flex-row p-8 w-full">
                            <div class="flex flex-auto flex-wrap">
                                <div class="flex flex-col w-full lg:w-2/4 sm:pl-8">
                                    <div class="deposit-select-element">
                                        <span class="mr-4">Deposit Type:</span>
                                        <p>{{selectedDeposit.depositType}}</p>
                                    </div>
                                    <div class="deposit-select-element">
                                        <span class="mr-4">Main Account:</span>
                                        <p>{{selectedDeposit.mainAccountNumber}}</p>
                                    </div>
                                    <div class="deposit-select-element">
                                        <span class="mr-4">Percent Account:</span>
                                        <p>{{selectedDeposit.percentAccountNumber}}</p>
                                    </div>
                                    <div class="deposit-select-element">
                                        <span class="mr-4">Owner:</span>
                                        <p>{{selectedDeposit.surname}} {{selectedDeposit.firstName}} {{selectedDeposit.lastName}}</p>
                                    </div>
                                    <div class="deposit-select-element">
                                        <span class="mr-4">Daily Income:</span>
                                        <p>{{selectedDeposit.dailyProfit}} {{selectedDeposit.currencyName}}</p>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="flex items-center justify-end border-t px-8 py-4">
                            <div class="flex items-center">
                                <button *ngIf="selectedDeposit.canClose" mat-flat-button class="mr-4"
                                        [color]="'primary'"
                                        (click)="closeDeposit()">
                                    Close
                                </button>
                                <button *ngIf="selectedDeposit.canWithdraw" mat-flat-button
                                        [color]="'primary'"
                                        (click)="withdrawPercents()">
                                    Withdraw Percents
                                </button>
                            </div>
                        </div>
                    </div>
                </div>
            </ng-template>

            <ng-template #noDeposits>
                <div class="p-8 sm:p-16 border-t text-4xl font-semibold tracking-tight text-center">No deposits</div>
            </ng-template>

        </div>

    </div>

</div>
