.deposit-grid {
    grid-template-columns: 24px 112px auto 40px;

    @screen sm {
        grid-template-columns: 48px 112px auto 50px;
    }

    @screen md {
        grid-template-columns: 48px 112px 112px auto 50px;
    }

    @screen lg {
        grid-template-columns: 48px 112px auto 112px 96px 96px 360px 50px;
    }
}
.deposit-select-element{
    display: flex;
    justify-content: flex-start;
}
.deposit-select-element span{
    font-style: italic;
}

.deposit-select-element p{
    overflow: hidden;
    text-overflow: ellipsis;
}
