<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:w-full md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">
        <!-- Left panel -->
        <auth-left-panel class="md:flex flex-auto"></auth-left-panel>
        <!--Right panel-->
        <div class="w-full sm:w-auto py-4 px-4 sm:p-10 sm:rounded-2xl sm:shadow sm:bg-card">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">
                <!-- Logo -->
                <div class="w-12">
                    <img src="assets/images/logo/logo.svg">
                </div>

                <!-- Title -->
                <div class="mt-4 text-4xl font-extrabold tracking-tight leading-tight">Sign Up</div>
                <div class="flex items-baseline mt-0.5 font-medium">
                    <div>Already have an account?</div>
                    <a class="ml-1 link-color hover:underline"
                       [routerLink]="['/auth/sign-in']">
                        Sign In
                    </a>
                </div>

                <!-- Sign Up form -->
                <form class="mt-4"
                      [formGroup]="signUpForm">

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Work Email</mat-label>
                        <input id="work-email"
                               matInput
                               [formControlName]="'workEmail'" maxlength="50">
                        <mat-error *ngIf="signUpForm.get('workEmail').hasError('required')">
                            Work email address is required
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('workEmail').hasError('email')">
                            Please enter a valid email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Password field -->
                    <mat-form-field class="w-full">
                        <mat-label>Password</mat-label>
                        <input id="password"
                               matInput
                               type="password"
                               [formControlName]="'password'"
                               #passwordField maxlength="50">
                        <button mat-icon-button
                                type="button"
                                (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
                                matSuffix>
                            <mat-icon class="icon-size-5"
                                      *ngIf="passwordField.type === 'password'"
                                      [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5"
                                      *ngIf="passwordField.type === 'text'"
                                      [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error>
                            Password is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Password confirm field -->
                    <mat-form-field class="w-full">
                        <mat-label>Password Confirm</mat-label>
                        <input id="password-confirm"
                               matInput
                               type="password"
                               [formControlName]="'passwordConfirm'"
                               #passwordConfirmField maxlength="50">
                        <button mat-icon-button
                                type="button"
                                (click)="passwordConfirmField.type === 'password' ? passwordConfirmField.type = 'text' : passwordConfirmField.type = 'password'"
                                matSuffix>
                            <mat-icon class="icon-size-5"
                                      *ngIf="passwordConfirmField.type === 'password'"
                                      [svgIcon]="'heroicons_solid:eye'"></mat-icon>
                            <mat-icon class="icon-size-5"
                                      *ngIf="passwordConfirmField.type === 'text'"
                                      [svgIcon]="'heroicons_solid:eye-off'"></mat-icon>
                        </button>
                        <mat-error *ngIf="signUpForm.get('passwordConfirm').hasError('required')">
                            Password confirmation is required
                        </mat-error>
                        <mat-error *ngIf="signUpForm.get('passwordConfirm').hasError('mustMatch')">
                            Passwords must match
                        </mat-error>
                    </mat-form-field>

                    <!-- Full name field -->
                    <mat-form-field class="w-full">
                        <mat-label>Full Name</mat-label>
                        <input id="full-name"
                               matInput
                               [formControlName]="'fullName'" maxlength="50">
                        <mat-error *ngIf="signUpForm.get('fullName').hasError('required')">
                            Full name is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Company name field -->
                    <mat-form-field class="w-full">
                        <mat-label>Company Name</mat-label>
                        <input id="company-name"
                               matInput
                               [formControlName]="'companyName'" maxlength="50">
                        <mat-error *ngIf="signUpForm.get('companyName').hasError('required')">
                            Company name is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Job title field -->
                    <mat-form-field class="w-full">
                        <mat-label>Job Title</mat-label>
                        <input id="job-title"
                               matInput
                               [formControlName]="'jobTitle'" maxlength="50">
                        <mat-error *ngIf="signUpForm.get('jobTitle').hasError('required')">
                            Job title is required
                        </mat-error>
                    </mat-form-field>

                    <!-- ToS and PP -->
                    <div class="inline-flex items-end w-full mt-1.5">
                        <mat-checkbox [color]="'primary'"
                                      [formControlName]="'agreements'">
                            <span>I agree with</span>
                            <a class="ml-1 link-color hover:underline" [routerLink]="['./']">Terms</a>
                            <span class="ml-1">and</span>
                            <a class="ml-1 link-color hover:underline" [routerLink]="['./']">Privacy Policy</a>
                        </mat-checkbox>
                    </div>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full mt-6"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="signUpForm.invalid"
                            (click)="signUp()">
                        <span *ngIf="!signUpForm.disabled">
                            Create Account
                        </span>
                        <mat-progress-spinner *ngIf="signUpForm.disabled"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
