<div class="flex flex-col flex-auto items-center sm:justify-center min-w-0 md:p-8">
    <div class="flex md:max-w-6xl sm:rounded-2xl sm:shadow overflow-hidden sm:bg-card">

        <div class="w-full sm:w-auto py-4 px-4 sm:p-10 sm:rounded-2xl sm:shadow sm:bg-card">
            <div class="w-full max-w-80 sm:w-80 mx-auto sm:mx-0">

                <!-- Title -->
                <div class="mt-4 text-center text-4xl font-extrabold tracking-tight leading-tight">Create Client</div>

                <!-- Form -->
                <form class="mt-4"
                      [formGroup]="clientForm">

                    <!-- Surname field -->
                    <mat-form-field class="w-full">
                        <mat-label>Surname</mat-label>
                        <input id="surname"
                               matInput
                               [formControlName]="'surname'" maxlength="30">
                        <mat-error *ngIf="clientForm.get('surname').hasError('required')">
                            Surname is required
                        </mat-error>
                        <mat-error *ngIf="clientForm.get('surname').hasError('pattern')">
                            Only latin or cyrillic letters up to 30 symbols
                        </mat-error>
                    </mat-form-field>

                    <!-- Firstname field -->
                    <mat-form-field class="w-full">
                        <mat-label>Firstname</mat-label>
                        <input id="firstName"
                               matInput
                               [formControlName]="'firstName'" maxlength="30">
                        <mat-error *ngIf="clientForm.get('firstName').hasError('required')">
                            Firstname is required
                        </mat-error>
                        <mat-error *ngIf="clientForm.get('firstName').hasError('pattern')">
                            Only latin or cyrillic letters up to 30 symbols
                        </mat-error>
                    </mat-form-field>

                    <!-- Lastname field -->
                    <mat-form-field class="w-full">
                        <mat-label>Lastname</mat-label>
                        <input id="lastName"
                               matInput
                               [formControlName]="'lastName'" maxlength="30">
                        <mat-error *ngIf="clientForm.get('lastName').hasError('required')">
                            Lastname is required
                        </mat-error>
                        <mat-error *ngIf="clientForm.get('lastName').hasError('pattern')">
                            Only latin or cyrillic letters up to 30 symbols
                        </mat-error>
                    </mat-form-field>

                    <!-- DateOfBirth field -->
                    <mat-form-field class="w-full">
                        <mat-label>Date Of Birth</mat-label>
                        <input matInput [matDatepicker]="dateOfBirthDatePicker" name="dateOfBirth" formControlName="dateOfBirth">
                        <mat-datepicker-toggle matIconSuffix [for]="dateOfBirthDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfBirthDatePicker></mat-datepicker>
                        <mat-error *ngIf="clientForm.get('dateOfBirth').hasError('required')">
                            Date of birth is required
                        </mat-error>
                    </mat-form-field>

                    <!-- PassportSeries field -->
                    <mat-form-field class="w-full">
                        <mat-label>Passport Series</mat-label>
                        <input id="passportSeries"
                               matInput
                               [formControlName]="'passportSeries'" maxlength="2">
                        <mat-error *ngIf="clientForm.get('passportSeries').hasError('required')">
                            Passport series is required
                        </mat-error>
                        <mat-error *ngIf="clientForm.get('passportSeries').hasError('pattern')">
                            Passport series sould be equal to 2 symbols
                        </mat-error>
                    </mat-form-field>

                    <!-- PassportNumber field -->
                    <mat-form-field class="w-full">
                        <mat-label>Passport Number</mat-label>
                        <input id="passportNumber"
                               matInput
                               [formControlName]="'passportNumber'" maxlength="7">
                        <mat-error *ngIf="clientForm.get('passportNumber').hasError('required')">
                            Passport number is required
                        </mat-error>
                        <mat-error *ngIf="clientForm.get('passportNumber').hasError('pattern')">
                            Passport number sould be equal to 7 digits
                        </mat-error>
                    </mat-form-field>

                    <!-- IdentificationNumber field -->
                    <mat-form-field class="w-full">
                        <mat-label>Identification Number</mat-label>
                        <input id="identificationNumber"
                               matInput
                               [formControlName]="'identificationNumber'" maxlength="14">
                        <mat-error *ngIf="clientForm.get('identificationNumber').hasError('required')">
                            Identification number is required
                        </mat-error>
                        <mat-error *ngIf="clientForm.get('identificationNumber').hasError('pattern')">
                            Identification number pattern: '0000000X000XX0'
                        </mat-error>
                    </mat-form-field>

                    <!-- IssuedBy field -->
                    <mat-form-field class="w-full">
                        <mat-label>Issued By</mat-label>
                        <input id="issuedBy"
                               matInput
                               [formControlName]="'issuedBy'" maxlength="100">
                        <mat-error *ngIf="clientForm.get('issuedBy').hasError('required')">
                            Issued by is required
                        </mat-error>
                    </mat-form-field>

                    <!-- DateOfIssue field -->
                    <mat-form-field class="w-full">
                        <mat-label>Date Of Issue</mat-label>
                        <input matInput [matDatepicker]="dateOfIssueDatePicker" name="dateOfIssue" formControlName="dateOfIssue">
                        <mat-datepicker-toggle matIconSuffix [for]="dateOfIssueDatePicker"></mat-datepicker-toggle>
                        <mat-datepicker #dateOfIssueDatePicker></mat-datepicker>
                        <mat-error *ngIf="clientForm.get('dateOfIssue').hasError('required')">
                            Date of issue is required
                        </mat-error>
                    </mat-form-field>

                    <!-- LocationAddress field -->
                    <mat-form-field class="w-full">
                        <mat-label>Location Address</mat-label>
                        <input id="locationAddress"
                               matInput
                               [formControlName]="'locationAddress'" maxlength="100">
                        <mat-error *ngIf="clientForm.get('locationAddress').hasError('required')">
                            Location address is required
                        </mat-error>
                    </mat-form-field>

                    <!-- RegistrationAddress field -->
                    <mat-form-field class="w-full">
                        <mat-label>Registration Address</mat-label>
                        <input id="registrationAddress"
                               matInput
                               [formControlName]="'registrationAddress'" maxlength="100">
                        <mat-error *ngIf="clientForm.get('registrationAddress').hasError('required')">
                            Registration address is required
                        </mat-error>
                    </mat-form-field>

                    <!-- PlaceOfBirth field -->
                    <mat-form-field class="w-full">
                        <mat-label>Place Of Birth</mat-label>
                        <input id="placeOfBirth"
                               matInput
                               [formControlName]="'placeOfBirth'" maxlength="100">
                        <mat-error *ngIf="clientForm.get('placeOfBirth').hasError('required')">
                            Place of birth is required
                        </mat-error>
                    </mat-form-field>

                    <!-- Home phone field -->
                    <mat-form-field class="w-full">
                        <mat-label>Home Phone</mat-label>
                        <input id="homePhone"
                               matInput
                               [formControlName]="'homePhone'" maxlength="13">
                        <mat-error *ngIf="clientForm.get('homePhone').hasError('pattern')">
                           Enter valid phone number
                        </mat-error>
                    </mat-form-field>

                    <!-- Mobile phone field -->
                    <mat-form-field class="w-full">
                        <mat-label>Mobile Phone</mat-label>
                        <input id="mobilePhone"
                               matInput
                               [formControlName]="'mobilePhone'" maxlength="13">
                        <mat-error *ngIf="clientForm.get('mobilePhone').hasError('pattern')">
                            Enter valid phone number
                        </mat-error>
                    </mat-form-field>

                    <!-- Email field -->
                    <mat-form-field class="w-full">
                        <mat-label>Email</mat-label>
                        <input id="email"
                               matInput
                               [formControlName]="'email'" maxlength="50">
                        <mat-error *ngIf="clientForm.get('email').hasError('email')">
                            Specify correct email address
                        </mat-error>
                    </mat-form-field>

                    <!-- Company field -->
                    <mat-form-field class="w-full">
                        <mat-label>Company</mat-label>
                        <input id="company"
                               matInput
                               [formControlName]="'company'" maxlength="50">
                    </mat-form-field>

                    <!-- Job title field -->
                    <mat-form-field class="w-full">
                        <mat-label>Job Title</mat-label>
                        <input id="jobTitle"
                               matInput
                               [formControlName]="'jobTitle'" maxlength="50">
                    </mat-form-field>

                    <mat-checkbox class="mr-4 w-full" [color]="'primary'"
                                  
                                  [formControlName]="'isPensioner'">
                        <span>Pensioner</span>
                    </mat-checkbox>

                    <mat-form-field class="w-full">
                        <mat-label>Month Income (BYN)</mat-label>
                        <input id="monthIncome" [formControlName]="'monthIncome'" matInput type="number" />
                        <mat-error *ngIf="clientForm.get('monthIncome').hasError('min')">
                            Income should be >=0
                        </mat-error>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>City</mat-label>
                        <mat-select formControlName="cityId">
                            <ng-container *ngFor="let city of cities">
                                <mat-option [value]="city.cityId">{{city.name}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Family Status</mat-label>
                        <mat-select formControlName="familyStatusId">
                            <ng-container *ngFor="let familyStatus of familyStatuses">
                                <mat-option [value]="familyStatus.familyStatusId" selected>{{familyStatus.statusName}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Citizenship</mat-label>
                        <mat-select formControlName="citizenshipId">
                            <ng-container *ngFor="let citizenship of citizenships">
                                <mat-option [value]="citizenship.citizenshipId" selected>{{citizenship.citizenshipName}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <mat-form-field class="w-full">
                        <mat-label>Disability</mat-label>
                        <mat-select formControlName="disabilityId">
                            <ng-container *ngFor="let disability of disabilities">
                                <mat-option [value]="disability.disabilityId" selected>{{disability.disabilityStatus}}</mat-option>
                            </ng-container>
                        </mat-select>
                    </mat-form-field>

                    <!-- Submit button -->
                    <button class="fuse-mat-button-large w-full mt-6"
                            mat-flat-button
                            [color]="'primary'"
                            [disabled]="clientForm.invalid"
                            (click)="create()">
                        <span *ngIf="!clientForm.disabled">
                            Create Client
                        </span>
                        <mat-progress-spinner *ngIf="clientForm.disabled"
                                              [diameter]="24"
                                              [mode]="'indeterminate'"></mat-progress-spinner>
                    </button>

                </form>
            </div>
        </div>
    </div>
</div>
