<!-- Loading bar -->
<fuse-loading-bar></fuse-loading-bar>

<!-- Navigation -->
<!--
<ng-container *ngIf="isScreenSmall">
    <fuse-vertical-navigation class="bg-primary-900 print:hidden"
                              [mode]="'over'"
                              [name]="'mainNavigation'"
                              [navigation]="navigation.default"
                              [opened]="false">
        <ng-container fuseVerticalNavigationContentHeader>
            <div class="flex link-main items-center h-20 pt-6 px-8" 
                 (click)="redirectToMain()">
                <img class="w-12"
                     src="assets/images/logo/logo.svg"
                     alt="Logo image">
            </div>
        </ng-container>
    </fuse-vertical-navigation>
</ng-container>
-->

<!-- Wrapper -->
<div class="flex flex-col flex-auto w-full m min-w-0 bg-primary-100">

    <!-- Header -->
    <div class="relative flex flex-0 items-center w-full h-16 sm:h-20 px-4 sm:px-8 z-49 print:hidden">

        <ng-container> <!--*ngIf="!isScreenSmall"-->
            <div class="flex items-center link-main" (click)="redirectToMain()">
                <div class="flex items-center mx-2 lg:mr-8">
                    <div class="hidden lg:flex">
                        <img class="w-12"
                             src="assets/images/logo/logo.svg">
                    </div>
                    <img class="flex lg:hidden w-8"
                         src="assets/images/logo/logo.svg">
                </div>
                <span class="font-semibold text-lg" 
                      *ngIf="!isScreenSmall && !isScreenMedium">
                    Cross-Chain Analitics Platform
                </span>
            </div>    
            <div class="beta-wrapper ml-8" *ngIf="!isScreenSmall">
                <p class="beta-text p-2">
                    Beta version with limited cross-chain coverage.
                    Reach out to us via <a class="text-inherit underline" href="mailto:support@pulsy.app">support@pulsy.app</a> in case of any issues
                </p>
            </div>
        </ng-container>

        <!-- Navigation toggle button -->
        <!--
        <ng-container *ngIf="isScreenSmall">
            <button mat-icon-button
                    (click)="toggleNavigation('mainNavigation')">
                <mat-icon [svgIcon]="'heroicons_outline:menu'"></mat-icon>
            </button>
        </ng-container>
        -->
        
        <!-- Components -->
        <div class="flex items-center pl-2 ml-auto">
            
            <!-- 
            fuse-horizontal-navigation *ngIf="!isScreenSmall" 
                                       class="fuse-horizontal-navigation-text 
                                              mr-6 text-2xl font-semibold"
                                       [name]="'mainNavigation'"
                                       [navigation]="navigation.horizontal">
            </fuse-horizontal-navigation>
            -->
            <div class="flex items-center">
                <button *ngIf="isNotPage('explorer')"
                        class="navigation-btn button-stretch mr-8 min-h-8 w-28"
                        mat-flat-button
                        [color]="'link'"
                        [disabled]="isLoadingRedirect"
                        (click)="redirectToExplorer()">
                    Explorer
                </button>

                <button *ngIf="isNotPage('')"
                        class="navigation-btn button-stretch mr-8 min-h-8 w-36"
                        mat-flat-button
                        [color]="'link'"
                        [disabled]="isLoadingRedirect"
                        (click)="redirectToMain()">
                    Home
                </button>

                        <!-- Sign in redirect
            <button *ngIf="!isUserLoggedIn()"
                    class="sign-in-btn button-stretch min-h-8 w-28"
                    mat-flat-button
                    [color]="'primary'"
                    [disabled]="isLoadingRedirect"
                    [loading]="isLoadingRedirect"
                    (click)="redirectToSignIn()">
                Sign In
            </button>-->
            </div>

            <sign-out *ngIf="isUserLoggedIn()" 
                      class="mr-2">
            </sign-out>
            
        </div>
    </div>

    <!-- Content -->
    <div class="flex flex-col flex-auto w-full bg-white">
        <router-outlet *ngIf="true"></router-outlet>
    </div>

    <!-- Footer -->
    <div class="relative flex-col justify-around sm:flex-row sm:justify-between flex 
                flex-0 bg-primary-100 items-center w-full h-14 sm:h-20 px-4 sm:px-8 max-md:py-12 z-49 bg-card print:hidden">

        <div class="all-rights-text flex">
            <div class="mr-3">PULSY © {{currentYear}}</div>
            <div class="mr-3">|</div>
            <div>All Rights Reserved</div>
        </div>

        <!--Bug & Feature-->
        <div class="footer-links flex">
            <a class="mr-3" target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLScTdQnZyxKjQiHqePEgJK5x0CTJpT6w6vDxEzNytSgp6iBMwQ/viewform">Bug Report</a>
            <div class="mr-3">|</div>
            <a target="_blank" href="https://docs.google.com/forms/d/e/1FAIpQLSeKsoArhJFSexrhiD2swwE9GF696N0-yfXCsZWEhi-zdE0xFA/viewform">Feature Request</a>
        </div>

    </div>
</div>
